# see https://www.typescriptlang.org/docs/handbook/2/generics.html
snippet getproperty "get a property from object"
const getProperty = <T, U extends keyof T>(obj: T, key: U): T[U] => {
	return obj[key];
}
endsnippet
